@mixin portfolio-popup {
  .popup {
    h2 {
      font-size: 20px;
    }

    .close {
      top: 0px;
      right: 12px;
      font-size: 25px;
    }

    .subtitle {
      font-size: 13px;
    }

    .img {
      width: 75%;
    }

    .content {
      font-size: 14px;
    }

    .list li {
      font-size: 14px;
    }

    .btn-preview {
      height: 16px;
      padding: 15px 17px 20px 17px;
    }
  }
}

// Max-Width: 1100px
@media (max-width: 1100px) {
  #header {
    .header-content {
      padding-top: 370px;
    }
  }
}
// Max-Width: 1100px - End

// Max-Width: 800px - Start
// Tablets & Smaller
@media (max-width: 800px) {
  // Header
  #header {
    height: 85vh;

    #main-nav {
      padding-top: 1px;

      .logo {
        padding-top: 16px;
      }
      .ul-laptop {
        display: none;
      }
    }

    .header-content {
      h1 {
        font-size: 24px;
      }
      p {
        font-size: 24px;
      }
    }

    // hamburger menu
    .menu-wrap {
      z-index: 10;
      display: flex;
    }
  }
}
// Max-Width: 800px - End

// Max-Width: 650px - Start
@media (max-width: 650px) {
  // Services
  #services .process,
  .items {
    grid-template-columns: 1fr;
  }

  #portfolio {
    @include portfolio-popup;
  }

  // About
  #about {
    &-b {
      .about-info {
        grid-template-areas:
          "bioimage"
          "bio";
      }

      .bio-image {
        height: 40vh;
        margin-left: auto;
        margin-right: auto;
      }

      .bio-paragraph {
        padding-top: 0;
        text-align: center;
      }
    }
  }

  //   Timeline
  #timeline {
    .wrapper .center-line {
      left: 40px;
    }
    .wrapper .row {
      margin: 30px 0 3px 60px;
    }
    .wrapper .row-1,
    .wrapper .row-2 {
      width: 90%;
    }
    .wrapper .row section {
      width: 100%;
    }
    .row-1 section::before {
      left: -7px;
    }
    .row-1 section .icon {
      left: -60px;
    }
  }

  //Contact
  #contact-b {
    .text-fields {
      grid-template-areas:
        "name "
        "email"
        "phone"
        "message";

      input,
      textarea {
        width: 175%;
      }
    }
  }
}
// Max-Width: 650px - End

// Max-Width: 500px - Start
// Smartphones
@media (max-width: 500px) {
  #header {
    border-bottom: 3px solid $main-color;

    .header-content {
      h1,
      p {
        font-size: 18px;
      }
    }
  }

  // Stack Grid Columns
  #services .process,
  #about-b .about-info,
  #contact-c .contact-info,
  #logos .about-logos,
  .items {
    grid-template-columns: 1fr;

    .contact-items p {
      padding-bottom: 32px;
    }
  }

  //   Timeline
  #timeline {
    .row section .details,
    .row section .bottom {
      display: inline-grid;
    }
    .row section p {
      text-align: center;
    }
    .wrapper .row-1,
    .wrapper .row-2 {
      width: 80%;
    }
  }

  //   Map
  #map {
    iframe {
      height: 500px;
      width: 90%;
    }
  }

  // Footer
  #main-footer {
    height: 160px;

    .footer-content {
      flex-direction: column;
      padding: 16px;
      height: 112px;
    }
    .social {
      margin: 19px;
    }
  }
}
// Max-Width: 500px - End

// Max-Width: 365px - Start
@media (max-width: 365px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 19px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 13px;
  }
  p,
  a {
    font-size: 11px;
  }
  .lead {
    font-size: 16px;
  }

  #main-nav {
    .logo {
      display: none;
    }
  }

  #header {
    height: 85vh;
    border-bottom: 3px solid $main-color;

    .header-content {
      padding-top: 340px;
      h1 {
        font-size: 16px;
      }
      p {
        font-size: 16px;
      }

      .btn-light {
        padding: 10px 15px 10px 15px;
        font-size: 12px;
      }
    }

    #timeline {
      .row section .details .title {
        font-size: 8px;
      }
    }
  }

  #contact-b {
    .btn-preview {
      padding: 20px 10px 15px 10px;
    }
    .text-fields {
      input,
      textarea {
        width: 165%;
      }
    }
  }
}
// Max-Width: 365px - End

// Max-Height: 580px - Start
// Landscape
@media (max-height: 580px) {
  #portfolio {
    .img {
      width: 50% !important;
    }
  }
}
// Max-Height: 580px - End

// Max-Height: 330px - Start
@media (max-height: 330px) {
  #header {
    #main-nav {
      padding-top: 1px;
    }

    .header-content {
      padding-top: 112px;

      .btn-light,
      p {
        display: none;
      }
    }
  }

  //   Portfolio
  #portfolio {
    .popup {
      .img {
        display: none;
      }
      .content {
        padding: 16px;
      }
    }
  }
}
// Max-Height: 330px - End
