// General Styles
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.6;
  background: $white-color;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h1 {
  font-size: 48px;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

.container {
  max-width: $website-width;
  padding: 0 24px;
  margin: auto;
  overflow: hidden;
}

// Buttons
%btn-shared {
  display: inline-block;
  padding: 13 32px;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn {
  &-main {
    @extend %btn-shared;
    color: $light-color;
    background-color: $main-color;
  }

  &-light {
    @extend %btn-shared;
    color: $light-color;
    background-color: $main-color;
    border-radius: 15px;
  }

  &-dark {
    @extend %btn-shared;
    color: $light-color;
    background-color: $main-color;
  }
  &-preview {
    color: $white-color;
    text-transform: uppercase;
    text-decoration: none;
    background: $main-color;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
  }

  &-preview:hover {
    color: $white-color;
    background-color: $main-color !important;
    text-shadow: 0px 0px 6px $white-color;
    box-shadow: 0px 5px 40px -10px $black-color;
    transition: all 0.4s ease 0s;
  }
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background-color: $light-color;
}

//Backgrounds
.bg {
  &-main {
    background: $main-color;
    color: set-text-color($main-color);
  }
  &-dark {
    background: $dark-color;
    color: set-text-color($dark-color);
  }
  &-light {
    background: $light-color;
    color: set-text-color($light-color);
  }
  &-medium {
    background: $medium-color;
    color: set-text-color($medium-color);
  }
}

.lead {
  font-size: 21px;
  margin-bottom: 32px;
}

.text-center {
  text-align: center;
}

.text-strong {
  font-weight: 600;
}

//Padding, Margin
.py,
.my {
  &-1 {
    padding: 16px 0;
  }
  &-2 {
    padding: 32px 0;
  }
  &-3 {
    padding: 48px 0;
  }
  &-4 {
    padding: 64px 0;
  }
}

.section-title {
  font-size: 32px;
  display: block;
  padding-bottom: 8px;
  text-align: center;
  text-transform: uppercase;
}

.bottom-line {
  height: 2px;
  width: 50px;
  background: $main-color;
  display: block;
  margin: 0 auto 16px auto;
}
