$website-width: 1280px;
$main-color: #5c7cfa;
$dark-color: #333;
$black-color: rgba(0, 0, 0, 0);
$white-color: #fff;
$medium-color: #ccc;
$light-color: #f4f4f4;
$bg-image: url("../img/showcase.jpg");
$primary-color: #5c7cfaab;
$overlay-color: rgba(24, 39, 51, 0.85);
$menu-speed: 0.75s;
$font-size-small: 18px;
$font-size-medium: 24px;
$font-size-big: 28px;
$font-size-large: 32px;
