@import "index";

//Logo
#logo {
  width: 50px;
  height: 50px;
}

// Main Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}

ul {
  display: flex;
}

li {
  padding: 16px 24px;
}

a {
  color: $white-color;
  text-transform: uppercase;
  padding-bottom: 8px;
  transition: color 0.5s;

  &:hover {
    color: $main-color;
  }

  &.current {
    color: $main-color;
  }
}

// Header - Start
#header {
  background: $bg-image no-repeat center right / cover;
  height: 100vh;
  color: $white-color;
  background-position: top;

  .header-content {
    text-align: center;
    padding-top: 30%;
  }
}
// Header - End

// Section Services - Start
#services {
  .process {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
    text-align: center;

    h3 {
      padding-bottom: 16px;
    }

    // process-step
    &-step {
      position: absolute;
      top: 0;
      right: 0;
      font-size: $font-size-big;
      font-weight: normal;
      background: $main-color;
      border-radius: 50%;
      height: 15px;
      width: 15px;
      line-height: 15px;
      padding: 16px;
      transition: all 1s;
    }

    // process-icon
    &-icon {
      border-radius: 50%;
      background: $light-color;
      padding: 32px;
      width: 70px;
      height: 70px;
      line-height: 70px;
      text-align: center;
      position: relative;
      transition: all 1s;

      &:hover {
        background: $main-color;
        width: 70px;
        height: 70px;
        line-height: 70px;

        .process-step {
          background: $light-color;
        }
      }
    }
  }
}
// Section Services - End

// Portfolio PopUp - Start
#portfolio {
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 999999;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }

  .popup {
    margin: 10px auto;
    padding: 20px;
    background: $white-color;
    border-radius: 5px;
    width: 75%;
    height: 91%;
    position: relative;
    transition: all 5s ease-in-out;
  }

  .popup h2 {
    margin-top: auto;
    font-size: $font-size-medium;
    color: #333;
    text-align: center;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: $font-size-large;
    font-weight: bold;
    text-decoration: none;
    color: $dark-color;
  }
  .popup .close:hover {
    color: red;
  }
  .popup .subtitle {
    max-height: 30%;
    overflow: auto;
    text-align: center;
    font-style: italic;
    color: #6c757d;
  }

  .popup .img {
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .popup .content {
    text-align: center;
    font-size: $font-size-small;
    padding-bottom: 16px;
  }

  .popup .popup-footer {
    margin-bottom: 16px;
  }
  .popup .list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 16px;
  }

  .popup .list li {
    padding: 0px 0px;
  }
}
// Portfolio PopUp - End

// Sections About - Start
#about {
  // About A - Progress Bars
  &-a {
    .progress {
      overflow: hidden;
      height: 20px;
      background: $medium-color;
      border-radius: 5px;
      margin-bottom: 10px;

      .progress-first {
        width: 30%;
      }
      .progress-second {
        width: 10%;
      }
      .progress-third {
        width: 20%;
      }
      .progress-fourth {
        width: 15%;
      }
      .progress-fifth {
        width: 35%;
      }
      .progress-sixth {
        width: 30%;
      }
      .progress-seventh {
        width: 90%;
      }
      .progress-eighth {
        width: 85%;
      }
      .progress-ninth {
        width: 80%;
      }

      div {
        height: 100%;
        color: $white-color;
        text-align: center;
        background: #91a7ff;
      }
    }
  }

  // About B - Bio
  &-b {
    .about-info {
      display: grid;
      grid-template-areas: "bioimage bio bio";

      grid-gap: 8px 3px;
      background: $light-color;
    }

    .bio-paragraph {
      text-align: left;
      padding-top: 48px;
    }

    // Grid Area
    .bio-image {
      grid-area: bioimage;
      margin-left: 45px;
      height: 25vh;
      width: auto;
    }

    .bio {
      grid-area: bio;
      padding: 13px;
    }

    // social
    .social .fab {
      margin-right: 8px;
      color: #364fc7;

      height: 25px;
      width: 30px;
      line-height: 20px;

      padding: 8px;

      &:hover {
        color: $dark-color;
      }
    }
  }
}
// Sections About - End

// Section Timeline - Start
#timeline {
  .wrapper {
    max-width: 1080px;
    margin: 50px auto;
    padding: 0 20px;
    position: relative;
  }
  .wrapper .center-line {
    position: absolute;
    height: 100%;
    width: 4px;
    background: $white-color;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
  }
  .wrapper .row {
    display: flex;
  }
  .wrapper .row-1 {
    justify-content: flex-start;
    width: 100%;
  }
  .wrapper .row-2 {
    justify-content: flex-end;
    width: 100%;
  }
  .wrapper .row section {
    background: $white-color;
    border-radius: 5px;
    width: calc(50% - 80px);
    padding: 20px;
    position: relative;
    color: #000;
  }
  .wrapper .row section::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: $white-color;
    top: 28px;
    z-index: -1;
    transform: rotate(45deg);
  }
  .row-1 section::before {
    right: -7px;
  }
  .row-2 section::before {
    left: -7px;
  }
  .row section .icon,
  .center-line .scroll-icon {
    position: absolute;
    background: #f2f2f2;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: $main-color;
    font-size: $font-size-small;
    box-shadow: 0 0 0 4px $white-color, inset 0 2px 0 rgba(0, 0, 0, 0.08),
      0 3px 0 4px rgba(0, 0, 0, 0.05);
  }
  .center-line .scroll-icon {
    bottom: 0px;
    left: 50%;
    width: 40px;
    height: 32px;
    font-size: $font-size-medium;
    transform: translateX(-50%);
  }
  .row-1 section .icon {
    top: 15px;
    right: -60px;
  }
  .row-2 section .icon {
    top: 15px;
    left: -60px;
  }
  .row section .details,
  .row section .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .row section .details .title {
    font-size: $font-size-medium;
    font-weight: 600;
    color: 000;
  }
  .row section p {
    margin: 10px 0 17px 0;
    color: 000;
    text-align: left;
  }
  .row section .bottom a {
    background: $main-color;
    color: $white-color;
    padding: 7px 15px;
    border-radius: 5px;
    font-weight: 400;
    transition: all 0.3s ease;
  }
  .row section .bottom a:hover {
    transform: scale(0.97);
  }
}
// Section Timeline - End

//Section Logos - Start
#logos {
  .about-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
    align-items: center;

    img {
      height: 44px;
    }
  }
}
//Section Logos - End

// Sections Contact - Start
#contact {
  &-a {
    h3 {
      color: $white-color;
      text-align: center;
      font-size: $font-size-large;
    }
  }

  &-b {
    .text-fields {
      display: grid;
      grid-auto-flow: row dense;
      grid-auto-columns: 1fr 1fr;
      grid-auto-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 5px 0px;
      grid-template-areas:
        "name message"
        "email message"
        "phone message";

      input,
      textarea {
        padding: 20px;
        margin-left: 16px;
        margin: 8px 8px;
      }

      .name-input {
        grid-area: name;
      }

      .email-input {
        grid-area: email;
      }
      .phone-input {
        grid-area: phone;
      }
      .message-input {
        grid-area: message;
      }
    }

    button[type="submit"] {
      font-weight: bold;
      font-size: $font-size-small;
      width: 30%;
    }
  }

  &-c {
    .contact-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
    }
  }
}
// Sections Contact - End
#map {
  iframe {
    width: 80%;
    height: 600px;
  }
}
// Section Map - Start

// Section Map - End

// Footer - Start
#main-footer {
  background: $dark-color;
  color: $white-color;
  height: 80px;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;

    .link-policy {
      padding: 0 16px;
      text-transform: initial;
    }

    .social .fab {
      margin-right: 16px;
      border: 2px $white-color solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 8px;

      &:hover {
        background: $dark-color;
      }
    }
  }
}
// Footer - End

//Import media queries
@import "media";
